course/datasets/logs
course/datasets/ml-25m/ratings.csv
course/datasets/ml-25m/*
kubeflow
PEC1
MLenContainers/
env/
MLenProd/PythonPackage
MLenProd/testRamon
MLenProd/Diagrama.jpeg
MLenProd/ServingAPI/house-prices-api
MLenProd/ServingAPI/gender-api
entregas/
Examen/
MLenProd/ML_Package/.DS_Store
MLenProd/ML_Package/.tox/
MLenProd/ServingAPI/.DS_Store
PEC2.pdf
course/titanic.csv