course/datasets/ml-100k
course/datasets/logs
course/datasets/ml-25m/ratings.csv
course/datasets/ml-25m/*
commandos
kubeflow
PEC1
MLenContainers/
env/
MLenProd/PythonPackage
MLenProd/testRamon
MLenProd/Diagrama.jpeg
MLenProd/ServingAPI/house-prices-api
MLenProd/ServingAPI/gender-api