<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;" action="/">
            <br>
            Height: <input type="number" name="height", placeholder="Enter height in inches" required/>
            <br><br>
            Weight: <input type="number" name="weight", placeholder="Enter weight in pounds" required/>
            <br><br>
            Age: <input type="number" name="age", placeholder="Enter Age" required/>
            <br><br>
            Country: <input type="text" name="country", placeholder="Enter Country" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>